<div class="container-fluid">
  <h1 class="col-12">Material</h1>
  <div class="row">
    <h3 class="col-12">Formulaire : </h3>
    <form [formGroup]="form" class="col-6 mx-auto"><br><br>

      <!--<input type="text" formControlName="input"><br><br>-->
      <mat-form-field appearance="fill" >
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-hint align="end">{{ form.get('email').value.length }}/10</mat-hint>
        <mat-error *ngIf="form.get('email').invalid">{{ getError() }}</mat-error>
      </mat-form-field><br><br>

      <!--<input type="checkbox" formControlName="checkbox"><br><br>-->
      <mat-checkbox formControlName="checkbox">Check me!</mat-checkbox><br><br>

      <!--<input type="radio" value="Femme" formControlName="radio"> Femme <br>
      <input type="radio" value="Homme" formControlName="radio"> Homme <br><br>-->
      <mat-radio-group formControlName="radio" aria-label="Select an option">
        <mat-radio-button value="Femme"> Femme</mat-radio-button><br>
        <mat-radio-button value="Homme"> Homme</mat-radio-button>
      </mat-radio-group><br><br>

      <!--<input type="radio" value="Femme" formControlName="slide"> Femme <br>
      <input type="radio" value="Homme" formControlName="slide"> Homme <br><br>-->
      <mat-slide-toggle formControlName="slide">Slide me!</mat-slide-toggle><br><br>

      <!-- <select formControlName="select">
        <option value="">Food</option>
        <option value="pain">Pain</option>
        <option value="pate">Pate</option>
        <option value="pizza">Pizza</option>
      </select><br><br> -->
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select matNativeControl required formControlName="select">
          <mat-option value="pain">pain</mat-option>
          <mat-option value="pate">pate</mat-option>
          <mat-option value="pizza">pizza</mat-option>
        </mat-select>
      </mat-form-field><br><br>

      <!-- <input type="range" min="0" max="10" formControlName="range"><br><br> -->
      <mat-slider min="0" max="10" formControlName="range"></mat-slider><br><br>

      <!-- <input type="date" formControlName="date"><br><br> -->
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br><br>

      <pre>{{ form.value | json }}</pre>
    </form>
  </div>
</div>